git+https://github.com/benjeffery/tsinfer.git@mask-names
sgkit==0.7.0
aiohttp==3.8.5
cyvcf2==0.30.22
requests==2.31.0
yarl==1.2.2
msprime==1.2.0
pysam==0.21.0
dask==2023.9.2
snakemake==7.32.4
bokeh==3.2.2
pyfaidx==0.7.2.2
matplotlib==3.8.0
bio2zarr==0.0.4
#https://github.com/snakemake/snakemake/issues/2607#issuecomment-1948732242
pulp==2.7.0